body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Playfair;
    font-size: 0.9rem;
}

.index-title {
    font-size: 2.4rem;
    font-family: PlayfairBold;
}

table {
    font-family: Hind;
}

table td {
    width: 50%;
}