{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-8 font-italic">Simulateur de maladie cardiaque</h1>
      <p class="lead my-3">
        Les tests peuvent être effectués de deux manières différentes. La première méthode consiste à générer cinq cas avec des caractéristiques aléatoires. Ces données sont générées en tranches minimales et maximales à partir de l’ensemble de données.
      </p>      
    </div>
</div>

<div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <h3 class="mb-0">
        <a class="text-dark" href="#">Simuler 5 patients aléatoires</a>
      </h3>
      <div class="mb-1 text-muted">&nbsp;</div>
      <p class="card-text mb-auto">
        <p><input type="submit" value="Prédiction aléatoire" onclick="randomData()" class="w-100 btn btn-primary btn-lg"></input></p>
          
        <table class="table" id="data-table">
          <!-- Table headers -->
          <tr>
              <th>Age</th>
              <th>Sex</th>
              <th>ChestPainType</th>
              <th>RestingBP</th>
              <th>Cholesterol</th>
              <th>FastingBS</th>
              <th>RestingECG</th>
              <th>MaxHR</th>
              <th>ExerciseAngina</th>
              <th>Oldpeak</th>
              <th>ST_Slope</th>
              <th>ca</th>
              <th>thal</th>
              <th>Predictions</th>
          </tr>
      </table>
      </p>      
    </div>
</div>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-8 font-italic">#dfrgb</h1>
      <p class="lead my-3">
        <form class="needs-validation" method="POST" action="{{ url_for('myPredict') }}">
          <div class="row g-3">
            <div class="col-sm-2">
              <label for="firstName" class="form-label">Age</label>
              <input type="number" class="form-control" id="age" placeholder="20 - 80" min="20" max="80" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="sex" class="form-label">Sexe (0: F, 1: H)</label>
              <input type="number" class="form-control" id="sex" placeholder="0 - 1" min="0" max="1" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="chestpaintype" class="form-label">ChestPainType</label>
              <input type="number" class="form-control" id="chestpaintype" placeholder="0 - 3" min="0" max="3" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="restingbp" class="form-label">RestingBP</label>
              <input type="number" class="form-control" id="restingbp" placeholder="90 - 200" value=""min="90" max="200" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="cholesterol" class="form-label">Cholesterol</label>
              <input type="number" class="form-control" id="cholesterol" placeholder="120 - 600" min="120" max="600" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="fastingbs" class="form-label">FastingBS</label>
              <input type="number" class="form-control" id="fastingbs" placeholder="0 - 1" min="0" max="1" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>
          </div>

          <h4 class="mb-3">&nbsp;</h4>

          <div class="row g-3">
            <div class="col-sm-2">
              <label for="restingecg" class="form-label">RestingECG</label>
              <input type="number" class="form-control" id="restingecg" placeholder="0 - 2" min="0" max="2" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="maxhr" class="form-label">MaxHR</label>
              <input type="number" class="form-control" id="maxhr" placeholder="70 - 210" min="70" max="210" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>
            <div class="col-sm-2">
              <label for="exerciseangina" class="form-label">ExerciseAngina</label>
              <input type="number" class="form-control" id="exerciseangina" placeholder="0 - 1" min="0" max="1" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="oldpeak" class="form-label">Oldpeak</label>
              <input type="number" class="form-control" id="oldpeak" placeholder="0.0 - 7.0" min="0.0" step="0.01" max="7.0" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>
            <div class="col-sm-2">
              <label for="stslope" class="form-label">ST_Slope</label>
              <input type="number" class="form-control" id="stslope" placeholder="0 - 2" min="0" max="2" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>

            <div class="col-sm-2">
              <label for="ca" class="form-label">CA</label>
              <input type="number" class="form-control" id="ca" placeholder="0 - 4" min="0" max="4" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div>
            
          </div>

            <h4 class="mb-3">&nbsp;</h4>

          <div class="row g-3">
            <div class="col-sm-2">
              <label for="thal" class="form-label">Thal</label>
              <input type="number" class="form-control" id="thal" placeholder="0 - 3" min="0" max="3" required>
              <div class="invalid-feedback">
                Ce champ est requis.
              </div>
            </div> 
          </div>

          <h4 class="mb-3">&nbsp;</h4>

          <div class="row g-3">
            <div class="col-sm-12">
              <h3 class="hr-response">Rique de problème : <b id="response"> ***</b></h3>              
            </div>

          </div>          

          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="predict_form()">Prédire</button>
        </form> 
      </p>      
    </div>
</div>

{% endblock %}

{% block script %}
<script>
function randomData(){
  console.log("heyyyyyy")
  fetch(`${window.origin}/simulateur/radomdata`, {
      method: "POST",
      credentials: "include",      
      headers: new Headers({
          "content-type": "application/json"
      })           
  })
  .then(function(response) {
    if (response.status != 200) {
      console.log(`Response status was not 200: ${response.status}`);
      return ;
    };

    response.json().then(function(data) {
        const table = document.getElementById('data-table');
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
        
        Object.keys(data['Age']).forEach((index) => {
            const row = table.insertRow();
            Object.keys(data).forEach((column) => {
                const cell = row.insertCell();
                cell.textContent = data[column][index];
            });
        });
        
    });
  })       
}

function predict_form() {
  event.preventDefault();
  const form_data = new FormData();  

  age = document.getElementById("age").value;
  sexe = document.getElementById("sex").value;
  chestpaintype = document.getElementById("chestpaintype").value;
  restingbp = document.getElementById("restingbp").value;
  cholesterol = document.getElementById("cholesterol").value;
  fastingbs = document.getElementById("fastingbs").value;
  restingecg = document.getElementById("restingecg").value;
  maxhr = document.getElementById("maxhr").value;
  exerciseangina = document.getElementById("exerciseangina").value;
  oldpeak = document.getElementById("oldpeak").value;
  stslope = document.getElementById("stslope").value;
  ca = document.getElementById("ca").value;
  thal = document.getElementById("thal").value;

  form_data.append("age", age);
  form_data.append("sexe", sexe);
  form_data.append('chestpaintype', chestpaintype);
  form_data.append('restingbp', restingbp);
  form_data.append('cholesterol', cholesterol);
  form_data.append('fastingbs', fastingbs);
  form_data.append('restingecg', restingecg);
  form_data.append('maxhr', maxhr);
  form_data.append('exerciseangina', exerciseangina);
  form_data.append('oldpeak', oldpeak);
  form_data.append('stslope', stslope);
  form_data.append('ca', ca);
  form_data.append('thal', thal);

  console.log(form_data)

  fetch(`${window.origin}/simulateur/mypredict`, {
    method: "POST",
    credentials: "include",
    body: form_data, // envoie les données du formulaire
    
    })
    .then(function (response) {
      response.json().then(function(data) {
        console.log(data);
        respondeDiv = document.getElementById("response");
        respondeDiv.innerText = data;
      })

    })
}
</script>
{% endblock %}